* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, .body_pedir,
.body_donde, .body_menu {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body, .body_pedir,
.body_donde, .body_menu {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "header header" "main main" "footer footer";
}

.body_menu {
  grid-gap: 3rem;
}

.body_pedir,
.body_donde {
  grid-template-areas: "header header" "main aside" "footer  footer";
}

header {
  grid-area: header;
  height: 200px;
  background-color: #090000;
}
header nav div ul li a {
  font-size: 1.8rem;
}
header h1 {
  color: #ffffff;
  font-size: 2.7rem;
}
header .conteiner_menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

main {
  grid-area: main;
}
main .form_contenido {
  border-radius: 5px;
  border-style: initial;
  padding: 30px;
  height: 450px;
  margin: auto;
  width: 70%;
  margin-top: 40px;
  text-align: center;
  background-color: #757efa;
}
main .form_contenido label {
  color: #ffffff;
}
main .main_ubicacion {
  padding: 30px;
  margin-top: 40px;
  text-align: center;
}

aside {
  grid-area: aside;
}
aside .aside_emoji {
  border-radius: 7px;
  width: 200px;
  height: 200px;
  background-color: rgb(255, 0, 0);
  position: relative;
  -webkit-animation: myfirst 5s linear 2s infinite alternate;
          animation: myfirst 5s linear 2s infinite alternate;
}
@-webkit-keyframes myfirst {
  0% {
    background-color: rgb(255, 0, 0);
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: rgb(255, 255, 255);
    left: 500px;
    top: 0px;
  }
  50% {
    background-color: rgb(255, 0, 0);
    left: 100px;
    top: 200px;
  }
  75% {
    background-color: rgb(255, 255, 255);
    left: 0px;
    top: 100px;
  }
  100% {
    background-color: rgb(255, 0, 0);
    left: 0px;
    top: 0px;
  }
}
@keyframes myfirst {
  0% {
    background-color: rgb(255, 0, 0);
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: rgb(255, 255, 255);
    left: 500px;
    top: 0px;
  }
  50% {
    background-color: rgb(255, 0, 0);
    left: 100px;
    top: 200px;
  }
  75% {
    background-color: rgb(255, 255, 255);
    left: 0px;
    top: 100px;
  }
  100% {
    background-color: rgb(255, 0, 0);
    left: 0px;
    top: 0px;
  }
}

.text_p {
  box-sizing: border-box;
  margin-top: 100px;
  width: 400px;
  height: 400px;
}
.text_p p, .text_p footer .footer_menu p, footer .footer_menu .text_p p {
  margin-top: 50px;
  color: #090000;
  font-size: 1.8rem;
}

.iconos {
  height: 50px;
  right: 100px;
  width: 600px;
}
.iconos ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.iconos ul li {
  list-style: none;
  width: 120px;
  height: 120px;
  margin: 0 20px;
  border: 2px solid black;
  border-radius: 50%;
  transition: all 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconos ul li i {
  font-size: 48px;
  color: rgb(108, 114, 56);
}

footer {
  grid-area: footer;
  margin-top: 100px;
  height: 200px;
  background-color: #090000;
}
footer p, footer .footer_menu p {
  text-align: right;
  color: #ffffff;
}
footer .footer_menu {
  grid-area: footer;
  position: absolute;
  margin-top: 100px;
  background-color: #090000;
}/*# sourceMappingURL=style.css.map */